bs4==0.0.2
cufflinks==0.17.3
# geopandas not mandatory
geopandas==0.14.3
ipykernel==6.29.4
ipython==8.23.0
# lxml not mandatory
lxml==5.2.1
matplotlib==3.8.4
nbformat==5.10.4
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
requests==2.31.0
# can be necessary
# export SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
statsmodels==0.14.2


